
.div1{
    background-image: url("car1.jpg");
    height: 100vh;
    width: 100%;
    
  
    /*Center,scale the image*/ 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.form{
    background-color: white;
    border-radius: 20px;
    width: 450px;
    margin: 20px auto;
    padding: 30px;
}

.form-body{
    text-align: left;
    padding: 20px 10px;
    
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 80%;
   
}

.footer{
    text-align: center;
}